html, body {
  margin: 0;
  padding: 0;
}

* {
  font-weight: 400;
}

.first-section {
  width: 100%;
}

.inner {
  padding: 0px 50px;
  padding-bottom: 15px;
  display: inline-block;
  background: rgb(50, 50, 50);
  width: 100%
}

.inner img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
}

.intro-text h1, .head-text {
  color: white;
  text-align: center;
}

.head-text h2 {
  background-color: rgb(100, 100, 100);
  display: inline-block;
  font-size: 160%;
  margin-bottom: :20px;
  padding: 20px 36px;
}

.container-fluid {
  width: 85%;
  margin: 0 auto;
}

.progress {
  height: 30px;
  background-color: rgb(50, 50, 50);
  border-radius: 0;
}

.progress-bar {
  background-color: rgb(79, 79, 79);
  font-size: 115%;
}

.bar-text {
  text-align: left;
  padding-left: 10px;
}

.img-responsive {
  height: 250px;
  width: 100%;
}

.card-top {
  width: 100%;
}

.card {
  background: rgb(100, 100, 100);
}

.card-block {
  color: white;
}

.btn-info {
  width: 100%;
}

.form-horizontal input {
  background: rgb(80, 80, 80);
}

.form-horizontal textarea {
  background: rgb(80, 80, 80);
  border: 0;
  outline: 0;
}

a.btn.btn-info {
  background: #D4D7FE !important;
  color: rgb(80, 80, 80);
}
.card-top{
  background:white !important;
  
}
